.restaurant-box {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.restaurant-box img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.restaurant-details {
    padding: 20px;
    background-color: #f8f9fa;
}

@media (max-width: 767.98px) {
    .restaurant-box img {
        border-radius: 10px;
    }

    .restaurant-details {
        border-top-left-radius: 0;
        border-top-right-radius: 10px;
    }
}

.menu-item {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 20px;
}

.menu-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details {
    padding: 20px;
}