{% extends 'base.html' %}
{% load static %}
{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}
{% load cart_tag %}
{% load static %}


{% block body_block %}



    <div class="container mt-5 restaurant-box-container">

        <div class="restaurant-box-container-details-box d-flex">

            <div class="col-md-6 restaurant-box-container-image">
                <img class="img-fluid" src="{{ restaurant_details.respicture.url }}" alt="Restaurant Image"/>

            </div>

            <div class="col-md-6 border restaurant-box-container-details d-flex">

                <div class=" col-md-9 restaurant-box-container-details-left-side text-dark">
                    <h2>{{ restaurant_details.name }}</h2>
                    <p>{{ restaurant_details.description }}</p>
                    <h6>{{ restaurant_details.address }}</h6>
                    <h6>{{ restaurant_details.phone_number }}</h6>
                    {% if restaurant_details.website %}
                        <a href="{{ restaurant_details.website }}" style=" text-decoration: none;" class="">
                            <h6>{{ restaurant_details.website }}</h6>
                        </a>
                    {% endif %}
                    <h6>{{ restaurant_details.get_type_display }}</h6>
                    <h6>Average Ratings: {{ restaurant_details.avg_ratings }}/5</h6>
                </div>

                <div class="col-md-3 restaurant-box-container-details-right-side justify-content-center">
                    <a href="{% url 'ratings' restaurant_details.id %}">
                        <button type="button" class="btn btn-primary ">Add
                            ratings
                        </button>
                    </a>
                </div>

            </div>

  </div>





  <!-- Menu -->


  <div class="row mt-5 ">
    <div class="col-md-12 border text-center text-danger" style="margin-bottom: 30px;">
      <h3>Menus</h3>
    </div>
    <div class="menu-filters">
        <form class="filters-form" method="post" action={% url 'get_one_restaurant' restaurant_details.id %}>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary filters-button" type="submit">Filter</button>
        </form>

    </div>
    {% for menu in restaurant_details.menus.all %}
    <div class="col-md-4 mt-5"> <!-- Adjust column size based on your requirement -->
      <a href="{% url 'get_one_menu' menu.id %}">
        <div class="menu-box-container-each-menu-box border p-4">
          <div class="menu-box-container-each-menu-box-image">
            <img class="img-fluid rounded" src="{{ menu.image.url }}" alt="Page not found" />
          </div>
          <div class="menu-box-container-each-menu-box-details text-danger">
            <h2>{{ menu.name }}</h2>
            <h4>{{ menu.description }}</h4>
            <h5>{{ menu.category.name }}</h5>
            <h5>{{ menu.price }}</h5>
          </div>
        </div>


        <!-- Menu -->


        <div class="row mt-5 ">
            <div class="col-md-12 text-center text-danger" style="margin-bottom: 30px;">
                <h3>Menus</h3>
            </div>

            {% for menu in restaurant_details.menus.all %}
                <div class="col-md-4 mt-5"> <!-- Adjust column size based on your requirement -->
                    <a href="{% url 'get_one_menu' menu.id %}">
                        <div class="menu-box-container-each-menu-box border p-4">
                            <div class="menu-box-container-each-menu-box-image">
                                <img class="img-fluid rounded" src="{{ menu.image.url }}" alt="Page not found"/>
                            </div>
                            <div class="menu-box-container-each-menu-box-details text-dark">
                                <h2>{{ menu.name }}</h2>
                                <h4>{{ menu.description }}</h4>
                                <h5>{{ menu.category.name }}</h5>
                                <h5>{{ menu.price }}</h5>
                            </div>
                        </div>
                    </a>
                </div>


            {% endfor %}
        </div>

    </div>














    <!-- <div class="container mt-4 p-4 bg-danger rounded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="restaurant-box">
          <img class="img-fluid" src="{{ restaurant_details.respicture.url }}" alt="Restaurant Image" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-spacing">
          <div class="restaurant-details bg-light d-flex rounded text-danger" style="margin-right: 20px;">
            <div class="col-sm-12">
              <div>
                <h4>Restaurant details</h4>
              </div>


              <div class="left-side col-sm-9">
                <h2>{{ restaurant_details.name }}</h2>
                <p>{{ restaurant_details.description }}</p>
                <h6>{{ restaurant_details.address }}</h6>
                <h6>{{ restaurant_details.phone_number }}</h6>
                <a href="{{ restaurant_details.website }} style=" text-decoration: none;" class="text-danger">
                  <h6>{{ restaurant_details.website }}</h6>
                </a>
                <h6>{{ restaurant_details.get_type_display }}</h6>
              </div>

              <div class="right-side">
                <div class="">
                  {% if restaurant_details.review.ratings == 1 %}
                  <span class="star text-warning">&starf;</span>
                  {% elif restaurant_details.review.ratings == 2 %}
                  <span class="star text-warning">&starf;</span>
                  <span class="star text-warning">&starf;</span>
                  {% elif restaurant_details.review.ratings == 3 %}
                  <span class="star text-warning">&starf;</span><span class="star text-warning">&starf;</span><span
                    class="star text-warning">&starf;</span>
                  {% elif restaurant_details.review.ratings == 4 %}
                  <span class="star text-warning">&starf;</span><span class="star text-warning">&starf;</span><span
                    class="star text-warning">&starf;</span><span class="star text-warning">&starf;</span>
                  {% elif restaurant_details.review.ratings == 5 %}
                  <span class="star text-warning">&starf;</span><span class="star text-warning">&starf;</span><span
                    class="star text-warning">&starf;</span><span class="star text-warning">&starf;</span><span
                    class="star text-warning">&starf;</span>
                  {% else %}
                  No ratings
                  {% endif %}
                </div>

                <div class="mt-5">
                </div>
              </div>

            </div>


          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center text-spacing">

    <div class="col-md-12 text-danger bg-light text-center">
      <h3>Menus</h3>
    </div>

    <div class="col-md-12 mt-5">

      <div class="row">


        {% for menu in restaurant_details.menus.all %}
        <div class="col-md-4">
          <a href="{% url 'get_one_menu' menu.id %}">
            <div class="menu-box rounded">
              <img class="img-fluid rounded" src="{{menu.image.url}}" alt="Page not found" />
              <div class="details bg-light text-danger border rounded">
                <h2>{{menu.name}}</h2>
                <h4>{{menu.description}}</h4>
                <h5>{{menu.category.name}}</h5>
                <h5>{{menu.price}}</h5>
                {% comment %} <h5>Menu review</h5> {% endcomment %}
              </div>
            </div>
          </a>
        </div>

        {% endfor %}

      </div>

    </div>

  </div>
</div> -->

{% endblock %}