{% extends 'base.html' %}
{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}
{% block body_block %}
    {% block review_form %}
        <h2 class='heading-review'>Review {{ restaurant_name }}</h2>
        <form action="{% url 'ratings' restaurant_id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ review_from.as_p }}
            </div>
            {% if message %}
                <p class="success">{{ message }}</p>
            {% endif %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <hr>
    {% endblock %}
    {% block list_reviews %}
        <h2 class='heading-review'>Reviews</h2>
        <br>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <p>
                            <strong>User: </strong>{{ review.user }} has given {{ review.ratings }} stars
                        </p>
                        <p><strong>On date:</strong> {{ review.timestamp }}</p>
                        <p><strong>Comment:</strong>
                            <span>{{ review.comment }}</span>
                        </p>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet</p>
        {% endif %}
    {% endblock %}

{% endblock %}