{% extends 'base.html' %}
{% block navigation %}
    {% include 'navbar.html' %}
{% endblock %}
{% block body_block %}
    {% block review_form %}
        <h2>Review {{ restaurant_name }}</h2>
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            <form action="{% url 'ratings' restaurant_id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ review_from.as_p }}
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        {% endif %}
    {% endblock %}

    {% block list_reviews %}
        <h2>Reviews</h2>
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <p>
                            user: {{ review.user }} : {{ review.ratings }} stars
                        </p>
                        <p>date: {{ review.timestamp }}</p>
                        <p>comment:
                            <span>{{ review.comment }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews yet</p>
        {% endif %}
    {% endblock %}

{% endblock %}